<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for internet access -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Main activity settings -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            
            <!-- Flutter theme and metadata -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Main launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter plugin registration metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Add the following metadata for UPI integration -->
        <meta-data
            android:name="com.flutter.upi.payments"
            android:value="true" />
    </application>

    <!-- Queries section to specify which activities the app can query -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Add this intent filter for detecting UPI apps -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="upi"/>
        </intent>
    </queries>
</manifest>
